page-suggest-adblocks {
    .no-scroll {
        .scroll-content {
          overflow: hidden !important;
        }
      }
    .icon-text-small-uparrow{
        font-size: 10px !important; 
        padding-left: 5px !important;
    }
    .icon-text-small{
        font-size: 10px !important; 
        padding-left: 5px !important;
    }
    .increase-icon{
        color:#20F520 !important;
        

    }
    .decrease-icon{
        color:#ff0000 !important;
        
    }
    .card-content {
        padding: 0px 16px;
        max-height: 0;
    }
    .card-header{
        border: 1px solid rgb(138, 128, 128);
    }
}
