<!--
  Generated template for the SuggestAdblocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content >
  <div *ngFor="let ADblock of ADblocks">
    <div *ngFor="let Record of Records">
      <ion-card type="button" (click)="toggle_adblock(ADblock.blockId)">
        <ion-grid> 
          <ion-card-header> 
          <ion-row>
            <ion-col col-2>
              <ion-item >
                  <ion-icon [name]="(Record.progressRate > 0) ? 'arrow-round-up' :'arrow-round-down'"  padding-right  item-start [ngClass]="(Record.progressRate > 0) ? 'increase-icon' : 'decrease-icon'"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col col-8>
            <h2>    
              <small>Rs</small> {{Record.pricePerPx| number:'1.2-2'}} |
              <!-- <small>Rs</small> {{(ADblock.expectPrice/(ADblock.width*ADblock.height))| number:'1.2-2'}} -->
              <small>Risk</small> {{(ADblock.ownerSetRisk)}}
            </h2>
            <p>{{ADblock.siteName}} | {{ADblock.blockName}}</p>
            <p>{{Record.progressRate| number:'1.2-2'}}%</p>
            </ion-col>
            <ion-col col-2>
              <round-progress  [current]="(ADblock.width*ADblock.height) - Record.availablePx" [max]="(ADblock.width*ADblock.height)" [radius]="20" [stroke]="5"></round-progress> 
              <span class="icon-text-small">{{(100-(Record.availablePx/(ADblock.width*ADblock.height))*100)| number:'1.2-2'}}%</span>       
            </ion-col>
         </ion-row>  
        </ion-card-header>  
        <ion-card-content #cc >
            <canvas #priceChart></canvas>
        </ion-card-content>
        </ion-grid> 
      </ion-card>
    </div>
  </div>
</ion-content>
